/* hex colours
Yellow #E8CB52
Red #E24E42
Light Green #6ED6B5
Dark Green #2B8F73 */
* {
  margin: 0;
}

#line_one {
  font-family: raleway;
  font-size: 0.6em;
}

.letter {
  font-family:  'Codystar', cursive;

}

#animation_ {
  text-align: center;
  margin-bottom: -0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  }

#title_text {
  padding: 5% 0;
  text-align: center;
  font-size: 5em;
  background: #2B8F73  ;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  }


h1 {
  margin: -0.2em;
}

#navbar li{
    display: inline;
    padding: 1em;
    text-align: center;
    font-family: raleway;
    font-weight: bold;

  }

  a {
    color: white;
    text-decoration: none;
    transition: all .45s ease-in-out;
  }

  a:hover {
    border-bottom: solid white 3px;
    font-size: 1.2em;

  }

#navbar {
    background: #6ED6B5;
    padding: 2.5%;
    display: flex;
    color: white;
    justify-content: flex-start;
    height: 1.5em;

  }

  footer {
    background: #6ED6B5;
    padding: 2.5%;
    display: flex;
    color: white;
    justify-content: flex-end;
  }

h2 {
  font-family: 'Raleway', sans-serif;
  padding: 0% 4%;
  font-size:2em;
}


p {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  padding: 0% 4%;
  font-size:1.2em;
}

p2 {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  padding: 0% 4%;
}

.codefirstlogo {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


media (max-width: 1000px) {
    #title_text {
      padding: 0.75em 1em;
      text-align: center;
      font-size: 1.4em;
      /* justify-content: flex-start;
      align-items: center; */
      }

    .place {
      max-width: 100%;
      }
    .container {
      flex-direction: column;
      }
    .container img{
      width: 100%;
      }
    #animation_ {
      height: 0.5em;
      margin-top: 4%;
    }
  }
