h2 {
  font-family: 'Raleway', sans-serif;
  padding: 0% 4%;
}


p {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  padding: 0% 4%;
}

p2 {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  padding: 0% 4%;
}

.codefirst {
  max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.facebook {
  max-width:70%;
  height: auto;
  padding-left:43%;
}

.twitter {
  max-width:70%;
  height: auto;
}

.other {
  max-width:70%;
  height: auto;
}
