h2 {
  font-family: 'Raleway', sans-serif;
  padding: 0% 4%;
}


p {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  padding: 0% 4%;
}

p2 {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  padding: 0% 4%;
}
