/* hex colours
Yellow #E8CB52
Red #E24E42
Light Green #6ED6B5
Dark Green #2B8F73 */


#map {

        width: 100%;
        height: 500px;
        background: grey;
        z-index: 1;
        margin-top: 10%;
        margin-bottom: 10%;
};

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
