/* hex colours
Yellow #E8CB52
Red #E24E42
Light Green #6ED6B5
Dark Green #2B8F73 */
* {
  margin: 0;
}

#line_one {
  font-family: raleway;
  font-size: 0.6em;
}


h1 {
  margin: -0.2em;
}


#navbar li{
    display: inline;
    padding: 1em;
    text-align: center;
    font-family: raleway;
    font-weight: bold;

  }

  a {
    color: white;
    text-decoration: none;
    transition: all .45s ease-in-out;
  }

  a:hover {
    border-bottom: solid white 3px;
    font-size: 1.2em;

  }

#navbar {
    background: #6ED6B5;
    padding: 2.5%;
    display: flex;
    color: white;
    justify-content: flex-start;
    height: 1.5em;

  }

  footer {
    background: #6ED6B5;
    padding: 2.5%;
    display: flex;
    color: white;
    justify-content: flex-end;
  }

  #about {
    margin: 5% auto;
    text-align: center;
    font-family: raleway;

  }


  .letter {
    font-family:  'Codystar', cursive;
    transition: all .45s ease-in-out;

  }

  .letter:hover {
    font-size: 1.5em;
    color: #E8CB52;
    cursor: pointer;

    }

  #animation_ {
    text-align: center;
    margin-bottom: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    }

  #title_text {
    padding: 5% 0;
    text-align: center;
    font-size: 5em;
    background: #2B8F73  ;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    }

.subheading {
  text-align: center;
  font-family: Codystar;
  font-weight: bold;
  margin-bottom:2em;
  font-size:3em;
  }

  h3 {
    text-align: center;
    color: #2B8F73;
    font-weight: bold;
    margin-bottom:1em;
  }


.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row wrap;
  box-sizing: border-box;
  border: solid 10px black;
  }

.container img {
  width: 100%;
  border-radius: 1%;
  }

.place {
  /* border: dotted 10px black; */
  /* margin: 3%;  */
  padding: 2%;
  max-width: 25%;
  text-align: justify;
  font-family: raleway;
  }

@media (max-width: 1000px) {
    #title_text {
      padding: 0.75em 1em;
      text-align: center;
      font-size: 1.4em;
      /* justify-content: flex-start;
      align-items: center; */
      }

    .place {
      max-width: 100%;
      }
    .container {
      flex-direction: column;
      }
    .container img{
      width: 100%;
      }
    #animation_ {
      height: 0.5em;
      margin-top: 4%;
    }
  }


/* .widget-toggle {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 18px; height: 9px;
  margin-top: 15px;
  margin-left: 13px;
  background: url(../Images/ivy.jpeg) no-repeat 0 -18px;
}

.widget-toggle.active {
  background: url(../img/sidebar-arrows.png) no-repeat 0 0;
} */
