/* hex colours
Yellow #E8CB52
Red #E24E42
Light Green #6ED6B5
Dark Green #2B8F73 */
* {
  margin: 0;
}

#line_one {
  font-family: raleway;
  font-size: 0.5em;
}

#navbar li{
    display: inline;
    padding: 1em;
    text-align: center;
    font-family: raleway;
    font-weight: bold;

  }

a {
    color: white;
    text-decoration: none;
    transition: all .45s ease-in-out;
  }

a:hover {
    border-bottom: solid white 3px;
    text-shadow: 2px 2px #2B8F73;
  }

#navbar {
    background: #6ED6B5;
    padding: 2.5%;
    display: flex;
    color: white;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  footer {
    background: #2B8F73;
    padding: 2.5%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    font-family: raleway;
  }

.ourNames {
  align-self: flex-end;
}

footer a {
  align-self: center;
}
  #about {
    margin: 5% 5%;
    text-align: justify;
    font-family: raleway;
    font-size:1.5em;
    margin-bottom:-1em;
    margin-top:5em;

  }


  .letter {
    font-family:  'Codystar', sans-serif;
    padding: 2% 0;
    transition: all .45s ease-in-out;

  }

  .letter:hover {
    font-size: 1.5em;
    color: #E8CB52;
    cursor: pointer;

    }

  #animation_ {
    text-align: center;
    margin-bottom: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    }

  #title_text {

    text-align: center;
    font-size: 5em;
    background: #2B8F73  ;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    }



.subheading {
    text-align: center;
    font-family: Codystar;
    font-weight: bold;
    margin-bottom:1em;
    font-size:4em;
    }

  h3 {
    text-align: center;
    color: #2B8F73;
    font-weight: bold;
    margin-bottom:1em;
  }

  .details {
    text-align: justify;
    color: black;
    margin-bottom:1em;
  }

  .instructions {
    font-size:1.2em;
    font-weight:bold;
    color:#2B8F73;
  }

  //*clicky accordion stuff*//

  button {
      background: none;
      border: 0;
      color: inherit;
      /* cursor: default; */
      font: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0;
      -webkit-appearance: button; /* for input */
      -webkit-user-select: none; /* for button */
      -moz-user-select: none;
      -ms-user-select: none;
  }

  .accordion {
    font-family: raleway;
    background-color:#6ED6B5;
    color: white;
    cursor: pointer;
    font-size:1.3em;
    font-weight: bold;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #2B8F73;
    text-shadow: 2px 2px grey;
    width: 100%;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row wrap;
  box-sizing: border-box;
  border: 0px;
  }

.container img {
  width: 100%;
  border-radius: 1%;
  }

.place {
  padding: 2%;
  max-width: 25%;
  text-align: justify;
  font-family: raleway;
  }

@media (max-width: 1000px) {
    #title_text {
      padding: 0.75em 1em;
      text-align: center;
      font-size: 1.4em;
      /* justify-content: flex-start;
      align-items: center; */
      }

      .panel p {
        font-size:2em;
      }

    .place {
      max-width: 100%;
      }
    .container {
      flex-direction: column;
      }
    .container img{
      width: 100%;
      }
    #animation_ {
      height: 0.5em;
      margin-top: 4%;
    }
    #about {
      margin: 4% 5%;
    }
    .accordion, #navbar{
      font-size: 3.3em;
    }

    footer {
      font-size: 2.5em;
    }

  }




/* .widget-toggle {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 18px; height: 9px;
  margin-top: 15px;
  margin-left: 13px;
  background: url(../Images/ivy.jpeg) no-repeat 0 -18px;
}

.widget-toggle.active {
  background: url(../img/sidebar-arrows.png) no-repeat 0 0;
} */
